<!--Pagina sobre-->
<mat-card>
<mat-card-title>
    <div>
    <div class="img"><img src="assets/img/foto.png" alt="imagem" class="foto"></div>
    <div class="name">
        <h1>Lucyanna Jesus da Silva Rodrigues</h1> 
   
        <h4>Desenvolvedora Full-Satck em formação</h4>
    </div>
    
    
</div> 
</mat-card-title>
<mat-card-content class="pagina">
    <h1>Sobre mim</h1>
    <p>
        Graduanda em Ciência da Computação e Desenvolvedora Web Full-Stack em formação. Através de cursos da Udemy, bootcamp e desafios da DIO venho adquirindo conhecimentos e aprimorando os já adquiridos pelo caminho em tecnologias como: HTML, CSS, JavaScript, TypeScript, Angular, NodeJs e GitHub.
<br> <br> Me mantendo sempre focada nos meus objetivos estou sempre disposta a aprender novas tecnologias correndo atrás e me dedicando diariamente, procurando sempre praticar, desenvolver novas habilidades e me atualizar diante das circunstâncias. Busco novos desafios visando crescimento pessoal e profissional.

    </p>
</mat-card-content>
</mat-card>
<div class="footer">
    <ul id="redes-contatos">
        
    <h3>Redes Sociais</h3>
    <ul>
        <li><a href="https://github.com/Lucyannar" target="_blank" >GitHub </a>
            <img src="assets/img/github.png" alt="logo" class="git">
        </li>
        <li><a href="https://www.linkedin.com/in/lucyanna-rodrigues-13368a181" target="_blank">Linkedin </a>
            <img src="assets/img/linkedin.png" alt="logo">
        </li>
        <li><a href= "https://wa.me/5511958133626" target="_blank">WhatsApp</a>
            <img src="assets/img/whats.png" alt="whatsapp" class="whats">
        </li>
    </ul>

    </ul>
</div>
